@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

[ng-if="false"] {
	display: none;
}

.hide-snow {
	display: none;
}

html {
	height: 100%;
}

body {
	background:white;
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
	height: 100%;
}

h1, h2, h3, h4, p {
	font-family: 'Varela Round', sans-serif;
	color: #1888BD;
}

#datetime {
	text-align: center;
	margin-bottom: 40px;
	padding-right: 27px;
}

#datetime h1 {
	font-size: 8em;
	margin-bottom: 0;
}

#datetime h2 {
	font-size: 3.0em;
	margin-bottom: 0;
}

#datetime h3 {
	font-size: 3.0em;
	margin-bottom: 0;
}

#forecast ul li {
	text-align: center;
}

#forecast ul li h3 {
	font-size: 3em;
}

#forecast h4 {
	font-size: 2em;
}

.long-forecast {
	margin: 40px 20px 0 20px;
	padding: 15px 15px 1px;
	background: #F4F4F4;
	border-radius: 4px;
}

.today .hover-area {
	cursor: default;
}

.transition { 
	opacity: 0;
  transition: opacity ease-in-out 0.9s;	
}

.active {
	opacity: 1;
  transition: opacity ease-in-out 0.9s;
}

.long-forecast p {
	font-size: 1.15em;
	max-height: 245px;
	overflow: scroll;
}

.long-forecast p span {
	margin-right: 5px;
	background: #1888BD;
	color: #fff;
	padding: 0 3px;
	border-radius: 3px;
}

#forecast p {
	font-size: 1.5em;
}

#forecast ul li .today h3, #forecast ul li .today h4 {
	/*color: #DD4E2A;*/
}

.hover-area {
	cursor: pointer;
}

.top-section {
	height: 347px;
}

img {
	margin-right: 10px;
}

@media (min-width: 768px) {
	body {
		display: flex;
	  align-items: center;
	}
}

@media (max-width: 1199px) {
	body {
		padding-top: 0;
		box-shadow: none;
	}

	.long-forecast p {
		max-height: 358px;
	}
}

@media (max-width: 992px) {
	
	.top-section {
		height: auto;
	}

	#datetime {
		padding-right: 15px;
	}

	.long-forecast {
		margin-left: 0;
		margin-right: 0;
	}	
}

@media (max-width: 767px) {
	#forecast ul li {
		margin-top: 35px;
	}
}